.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  display: block;
  align-items: center;
  width: 100%;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.item {
  margin: auto;
  height: 40%;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  /* padding: 50px; */
}
.left {
  margin-left: 100px;
  float: left;
}
.right {
  margin-right: 100px;
  float: right;
}
.last {
  margin-bottom: unset;
  margin-bottom: 200px;
}

.item:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
